<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/Header.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">-->
      <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/Header.css}" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="./assets/img/java.png" alt="logo" width="50px">
            <span class="fs-4"> Inexture Solution LTD</span>
          </a>

          <ul class="nav nav-pills">
          <li id="currentDateTime" class="nav-item"></li>
          </ul>
        </header>
      </div>

</body>
<script th:src="@{/assets/Js/Header.js}" defer></script>
<!--  <script src="./assets/Js/Header.js" defer></script> -->
</html>