body{
   padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section.forgot{
    padding:3%;
    margin-top: 2%;
    border: 0.2rem solid gold;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #52d4ff;
    margin-bottom: 2%;
}

input {
    border-radius: 20px;
    margin-top: 2%;
}

    button.reset_btn{
    border-radius: 10px;
          margin-top: 2%;
          background-color: transparent;
          color: white;

    }
    button.reset_btn:hover {
        background-color: #ff4d68;
        COLOR: #252525;
        box-shadow: 0px 0px 10px #ffffff;
    }